In [1]:
import pandas as pd

In [2]:
movies = {'title': ['Inception', 'The Matrix', 'Interstellar'],
          'year': [2010, 1999, 2014],
          'rating': [8.8, 8.7, 8.6]}
pd.DataFrame(movies)

          title  year  rating
0     Inception  2010     8.8
1    The Matrix  1999     8.7
2  Interstellar  2014     8.6